.App{
  display:flex;
  flex-direction: row;
  /* padding: 34px; */

}
.chat-app{
  background-color: bisque;
  margin-left: 73%;
  /* margin-right: 0; */
}
.chat-div{
  height: 600px;
  width:400px;
  border:2px solid black;
  
}
header{
  display: flex;
  padding: 23px;
}
form{
bottom: 0;
/* background-color: aqua; */
}